---
---

@import "{{ site.theme }}";

/* The sidebar menu - starting with code from W3Schools */
.sidenav {
    width: 10%;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
}
