---
---

@import "{{ site.theme }}";

.date {
	margin: 0;
	padding: 0;
	font-size: 0.75rem;
}

a {
	text-decoration: underline;
}

.skip {
   position: absolute;
   left: -999em;
   width: 990em;
}
a.skip:active,  a.skip:focus {
	left:0;
    border: 3px #3399cc solid;
    background-color: #fff;
}

.project-name{
	text-decoration: none;
	color: white;
}