---
---

@import "{{ site.theme }}";

/* The sidebar menu - starting with code from W3Schools */
.sidenav {
    width: 10%;
    position: fixed;
    z-index: 1; /* Stay on top */
    right: 0;
    top: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
}
.main-content-content {
    width: 90%;
}

/*.date {
	margin: 0;
	padding: 0;

}*/
